@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<TiendaOnline.Models.Entities.Productos>
<h1>Productos</h1>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Precio</th>
            <th>Stock</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductoID</td>
                <td>@item.Nombre</td>
                <td>@item.Descripcion</td>
                <td>@item.Precio</td>
                <td>@item.stock</td>
                <td>
                    <a class="btn btn-primary" asp-controller="Productos" asp-action="Edit" asp-route-id="@item.ProductoID">Editar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="mt-3">
    <a class="btn btn-primary" asp-controller="Productos" asp-action="Add">Agregar</a>
</div>