@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<TiendaOnline.Models.Entities.Clientes>
<h1>Clientes</h1>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Email</th>
            <th>Telefono</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.ClientesID</td>
                <td>@item.Nombre</td>
                <td>@item.Apellido</td>
                <td>@item.Email</td>
                <td>@item.Telefono</td>
                <td>
                    <a class="btn btn-primary" asp-controller="Clientes" asp-action="Edit" asp-route-id="@item.ClientesID">Editar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="mt-3">
    <a class="btn btn-primary" asp-controller="Clientes" asp-action="Add">Agregar</a>
</div>